h1{
    font-family: 'Raleway', sans-serif;
    color: #1ba94c;
    text-shadow: 4px 4px 4px #aaa;
    font-size: 100px;
    text-align: center;
}

.card{
    border: 2px solid #1ba94c ;
}

.card-title{
    font-family: 'Raleway', sans-serif;
    color: #1ba94c;
    font-size: 30px;
    text-shadow: 4px 4px 4px #aaa;
    font-weight: 700;

}

#head_roster{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #1ba94c;
    font-size: 25px;
    font-weight: 500;
    text-shadow: 4px 4px 4px #aaa;

}

#beans{
    font-family: 'Raleway', sans-serif;
    color: #1ba94c;
    font-size: 30px;
    text-shadow: 4px 4px 4px #aaa;

}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    font-family: 'Raleway', sans-serif;
    color: rgba(0,0,0,.7);
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Raleway', sans-serif;
    color: #1ba94c;
    font-size: 20px;
}

.btn-mine {
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: #1ba94c;
    box-shadow: 0 4px 12px rgba(27, 169, 76, 0.5);
    font-size: 18px;
    padding: 10px 20px;
    display: inline-block;
    justify-content: center;
    min-height: 2.778em;
    border-radius: 2px;
    border: 0;
    font-weight: 400;

}

.btn-mine:hover{
    box-shadow: 0 3px 6px
    rgba(27, 169, 76, 0.4);
}

td{
    text-align: center;
}