<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">


</head>

<body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar" style="border-bottom: 1px solid green">
            <a class="navbar-brand" th:href="@{/}" id="beans">
                <img th:src="@{/images/spring_logo.png}" style="height: 50px; width: 50px">
                Beans
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" id="nav1" th:href="@{/}"><b>My teams</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id= "nav2" th:href="@{/all}"><b>All teams</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav3" th:href="@{/matches}"><b>Recent matches</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav4" th:href="@{/new_team}"><b>Add team</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav5" href="https://docs.opendota.com/" target="_blank">
                         <b>
                             OpenDota API
                         </b>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="https://liquipedia.net/dota2/Dota_Pro_Circuit/2019-20/Rankings" target="_blank">
                            <b>
                                DPC Ranking
				<span>
					<img th:src="@{/images/liquipedia.png}" style="width: 50px; heigth: 50px;">
				</span>

                            </b>
                        </a>
                    </li>




                </ul>
            </div>
        </nav>








<div th:fragment="footer" style="margin-top: 20px">


<footer class="page-footer font-small">

<div class="row">

    <div class="col-md-12" style="background-color: darkslategray">
        <p></p>
        <p style="text-align: center; color: white">
            © Copyright 2020. The Beans™ mark is owned by Sebastian Fernandez
            Cianci, Corporation.
        </p>
        <p></p>

    </div>

</div>


</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>


</div>
</body>
</html>
