<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Beans - Teams</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/images/spring_logo.png}">

</head>

<body>

<div th:replace="header.html :: navbar"></div>

<div class="container-fluid">
<div class="row">
    <div class="col-md-12">
        <h1>Teams list</h1>
    </div>
</div>

    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-10">

            <table class="table table-dark table-striped">
                <thead>
                <tr style="background-color: #1c1919">
                    <td style="color: white"><b>Rank</b></td>
                    <td style="color: white"><b>Logo </b></td>
                    <td style="color: white"><b>Name</b></td>
                    <td style="color: white"><b>Rating</b></td>
                    <td style="color: white"><b>Wins</b></td>
                    <td style="color: white"><b>Loses</b></td>
                    <td style="color: white"><b>Last match</b></td>
                    <td style="color: white"><b>Add</b></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="team : ${teams}">

                        <td style="padding-top: 40px">
                            <img th:if="${teamStat.count eq 1}" th:src="@{/images/Gold.png}" alt="gold">
                            <img th:if="${teamStat.count} eq 2" th:src="@{/images/Silver.png}" alt="silver">
                            <img th:if="${teamStat.count} eq 3" th:src="@{/images/Bronze.png}" alt="bronze">
                            <p th:if="${teamStat.count} gt 3 and ${teamStat.count} lt 46" th:text="${teamStat.count}"></p>
                            <img th:if="${teamStat.count} gt 45" th:src="@{/images/danger.png}" alt="danger zone">
                        </td>

                    <td style="width: 150px">
                        <a th:href="@{/{id}(id=${team.team_id})}">
                        <img th:src="${team.logo_url}" style="width: 80px; height: 80px" th:alt="${team.name}">
                        </a>
                    </td>
                    <td th:text="${team.name}" style="padding-top: 40px">Secret</td>
                    <td th:text="${team.rating}" style="padding-top: 40px">1400</td>
                    <td th:text="${team.wins}" style="color: #08ff00; padding-top: 40px">900</td>
                    <td th:text="${team.losses}" style="color: #f44444; padding-top: 40px"></td>
                    <td th:text="${team.formattedDate}" style="padding-top: 40px"></td>
                    <td th:switch="${team.following}" style="padding-top: 30px">
                        <a th:case="false" th:href="@{/new_team/{id}(id=${team.team_id})}" class="btn btn-success" style="width: 87px"> Follow </a>
                        <a th:case="true" th:href="@{/delete/{id}(id=${team.team_id})}" class="btn btn-danger"> Unfollow </a>
                    </td>


                </tr>
                </tbody>








            </table>

        </div>

        <div class="col-md-1"></div>

    </div>
    

</div>

<div th:replace="header.html :: footer"></div>

</body>
</html>
