<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dota 2 beans - Teams</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">

</head>

<body>

<div th:replace="header.html :: navbar"></div>

<div class="container-fluid">
<div class="row">
    <div class="col-md-12">
        <h1 style="text-align: center">Teams list</h1>
    </div>
</div>

    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-10">

            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <td>Logo</td>
                    <td>Name</td>
                    <td>Rating</td>
                    <td>Wins</td>
                    <td>Loses</td>
                    <td>Last match</td>
                    <td>Add</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="team : ${teams}">
                    <td style="width: 150px">
                        <img th:src="${team.logo_url}" style="width: 80px; height: 80px">
                    </td>
                    <td th:text="${team.name}">Secret</td>
                    <td th:text="${team.rating}">1400</td>
                    <td th:text="${team.wins}" style="color: #1ba94c">900</td>
                    <td th:text="${team.losses}" style="color: indianred"></td>
                    <td th:text="${team.formattedDate}"></td>
                    <td th:switch="${team.following}">
                        <a th:case="false" th:href="@{/new_team/{id}(id=${team.team_id})}" class="btn btn-success"> Follow </a>
                        <a th:case="true" th:href="@{/delete/{id}(id=${team.team_id})}" class="btn btn-danger"> Unfollow </a>
                    </td>


                </tr>
                </tbody>








            </table>

        </div>

        <div class="col-md-1"></div>

    </div>
    

</div>

<div th:replace="header.html :: footer"></div>

</body>
</html>
